* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.appDefault {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(2, 2, 61);
}

.inputCard, .timerRunning {
  background-color: aliceblue;
  width: 40%;
  height: 50%;
  border-radius: 20px;
  box-shadow: black 2px 2px 10px;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

button {
  width: 100px;
  height: 30px;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  background-color: black;
  color: white;
}

.inputs {
  display: flex;
  gap: 5px;
}

input {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 30px;
  border-radius: 20px;
}

.counter {
  background-color: green;
  color: white;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 700;
  zoom: 2;
}

@media only screen and (max-width: 390px) {
  .inputCard, .timerRunning {
    height: 30vh;
    width: 60%;
  }
}